.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: turquoise;
}
.cat3{
    background-color: #ff136F;
}
.catagory h1{
    color: white;
}
.catagory img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#subscribe{
    height: 300px;
    border-radius: 10px;
}
#subscribe h6{
    color: gray;
}
footer{
    text-align: center;
}